选择器就是根据不同的需求把不同的标签选择出来。就是选择标签的。

选择器分为：基础选择器，复合选择器两大类。
基础选择器：单个选择器组成。
复合选择器：标签选择器，类选择器，id选择器，通配符选择器。
1:标签选择器：
p {
	color: green;
}

2: 类选择器：
.class-name {
	color: red;
}
谁想使用就用class="class-name"进行调用。

一个类型指定多个类名的情况：
class="class-name1 class-name2";

3: id选择器，通过#定义，通过标签的id进行调用。
#id {
	color: red;
}
通过标签的id进行调用。
id选择器，通过id进行调用的，只能调用一次，别人切勿使用。

4:通配符选择器，使用*定义 ，选择页面中所有的元素。
* {
	color: red;
}
不需要调用，自动选定了所有的元素。








